.Box {

	text-align: center;

	
}

img{
	width: 583.31415926535px;
	margin-top: 7.493465em;
	border-bottom: solid 24.9876543px orange;
	transition: all 5s;
}

img:hover{
	border-left: dashed 3.477740057054079408502349010498560512484230805259399999977004163151868050454134449449349432841040226513112591699999780079479911163153094056901037119685683023565905242437999997850173296297577673211245383804064439129793895989em red;
	border-right: dotted 20px purple;
	border-top: dotted 13.63946186px green;
	transform: rotate(369deg); 
	
}